In [1]:
import pandas as pd
import numpy as np
import warnings

In [4]:
warnings.filterwarnings('ignore')

# Get The Dataset

In [12]:
df = pd.read_csv("ml-100k/u.data",sep = '\t',names = ["User_Id","Movie_Id","Rating","TimeStamp"])
df.head()

   User_Id  Movie_Id  Rating  TimeStamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [13]:
df.shape

(100000, 4)

In [16]:
df['User_Id'].nunique()  ## gets unique values in movies

943

In [18]:
df['Movie_Id'].nunique()

1682

In [60]:
# open('ml-100k/u.item', encoding = "ISO-8859-1",)
# Eead('ml-100k/u.item',encoding = "ISO-8859-1")
df = pd.read_csv('ml-100k/u.item', sep='|', encoding='latin-1',header = None)
df.head()
movieTitles = df[[0,1]]
movieTitles

         0                                          1
0        1                           Toy Story (1995)
1        2                           GoldenEye (1995)
2        3                          Four Rooms (1995)
3        4                          Get Shorty (1995)
4        5                             Copycat (1995)
...    ...                                        ...
1677  1678                          Mat' i syn (1997)
1678  1679                           B. Monkey (1998)
1679  1680                       Sliding Doors (1998)
1680  1681                        You So Crazy (1994)
1681  1682  Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 2 columns]